{% extends 'layout.html' %}

 {% block content %}
     <link rel="stylesheet" href="{{ url_for('static', path='css/problems.css') }}">
     <script src="{{ url_for('static', path='js/problems.js') }}"></script>
     <div class="jumbotron">
         <h2>Problems</h2>
         <p class="lead">Solve science problems together.</p>
         <div class="row">
                 <a href="{{ url_for('homepage') }}" class="btn btn-primary btn-large">назад на главную &raquo;</a>
                 <a href="{{ url_for('problem_create_get') }}" class="btn btn-primary btn-large">create &raquo;</a>

         </div>

</div>

     <div class="row">
     <div class="col">
         <button class="btn btn-primary btn-large" id="filters-button" onclick="moveFilters(event)">Open filters >></button>
     </div>
     </div>

    <div class="filters" style="display:none;" id="filters">
         <h3 align="center">Filters</h3>
            <form method="get">
            <div class="row">
                <div class="col">
                      <label for="sciences-cell-titles ">Sciences</label>
                  <div id="sciences-cell-titles margin-top">
                      {% for i in sciences %}
                      <label for="{{ i.slug }}">{{ i.title }}</label>
                      <input type="checkbox" id="{{ i.slug }}" name="{{ i.slug }}">
                      {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <label for="sciences-cell-status margin-top">Problem status</label>
              <div id="sciences-cell-status">
                  <label for="is_solved">Is closed</label>
                  <input type="checkbox" id="is_solved" name="is_solved">
                </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary btn-large button">filter</button>
            </form>
    </div>


            <table style="background-color: white; margin-top: 100px; width:100%" border=1 frame=void>
                <tbody>
                <tr>
                    <td>Solved</td>
                    <td>Title</td>
                    <td>Solutions</td>
                    <td>Science</td>
                    <td>User</td>
                    <td>Time Asked</td>
                    <td>Time Answered</td>
                </tr>
                {% for p in problems %}
                 <tr>
                 {% if p.problem.is_closed %}
                    <td>Yes</td>
                  {% else %}
                     <td>Noe</td>
                  {% endif %}
                    <td>{{ p.problem.title }}</td>
                    <td>{{ p.solutions }}</td>
                    <td>{{ p.science.title }}</td>
                    <td>{{ p.user.username }}</td>
                    <td>{{ p.problem.time_asked }}</td>
                 {% if p.problem.is_closed %}
                    <td>{{ p.problem.time_answered }}</td>
                 {% else %}
                     <td>-</td>
                 {% endif %}
                    <td>
                        <button>
                            <a href="{{ url_for('problem_get', problem_id=p.problem.id) }}">Go</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


{% endblock %}
