{% extends '../layout.html' %}

{% block content %}
<div class="jumbotron">
    <h2>Уравнения</h2>
    <p class="lead">Решение одиночных уравнений или их систем.</p>
    {% if message %}
        <h4 style="color: indianred">{{ message }}</h4>
    {% endif %}
    <a href="{{ url_for('science_main', science_slug=science_slug) }}" class="btn btn-primary btn-large">назад к Математике &raquo;</a>
</div>
        <form method="post">
                <input class='form-control' type="text" name="eq1" placeholder="Уравнение 1:">
                <input class='form-control' type="text" name="eq2" placeholder="Уравнение 2:">
                <input class='form-control' type="text" name="eq3" placeholder="Уравнение 3:">
                <input class='form-control' type="text" name="eq4" placeholder="Уравнение 4:">
                <button type="submit">Решить</button>
            </form>
       <h4 class="white_text">Решение: {{ result }} </h4>
{% endblock %}
