{% extends 'layout.html' %}

 {% block content %}
     <div class="jumbotron">
         <h2>{{ science.title }}</h2>
         <p class="lead">&nbsp;{{ science.content }}</p>
    <a href="{{ url_for('homepage') }}" class="btn btn-primary btn-large">назад на главную &raquo;</a>
</div>

    <div class="container">
        <ul>{% for i in categories %}
                <li>
                <h5><a href="{{ url_for('category_get', category_slug=i.slug) }}" class="white_text">{{ i.title  }}</a></h5>
                </li>
            {% endfor %}
          </ul>
      </div>
    {% endblock %}
