{% extends 'layout.html' %}

{% block content %}
    <style>

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.input{
  background: rosybrown;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
    </style>
    <div class="jumbotron">
    <h2>{{ formula.title }}</h2>
    {% if message %}
        <h4 style="color: indianred">{{ message }}</h4>
    {% endif %}
    <p class="lead">{{ category.title }}</p>
    <a href="{{ url_for('science_category', category_slug=category.slug) }}" class="btn btn-primary btn-large">
        назад к  &raquo;
        {{ category.title }}
    </a>
</div>
<div class="tab">
{{ tab_div|safe }}
</div>

<div class="container" style="background:black">
{{ tab_content_div|safe }}


</div>
<div style="">
<p class="lead white_text">{{ formula.content }}</p>
</div>
{% endblock %}

{% block scripts %}
<script>


function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>
{% endblock %}
