{% extends 'layout.html' %}

 {% block content %}
     <div class="jumbotron">
         <h2>{{ science.title }}</h2>
         <p class="lead">&nbsp;{{ science.content }}</p>
    <a href="{{ url_for('homepage') }}" class="btn btn-primary btn-large">назад на главную &raquo;</a>
</div>

    <div class="container">
        <ul>{% for i in categories %}
                <li>
                <h5><a href="{{ url_for('science_category', cat_slug=i.slug, science_slug=science.slug) }}" class="white_text">{{ i.category_name  }}</a></h5>
                </li>
            {% endfor %}
          </ul>
      </div>
    {% endblock %}

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
