{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='users/css/login.css') }}">
<h2 class="white_text">{{ title }}</h2>


<div id="formWrapper">
<div id="form">
<div class="logo">

</div>
    <h3 align="center">Log in</h3>
    <form method="post">
    <div class="form-item">
      <input type="text" name="username" placeholder="Username" id="username" class="form-style" autocomplete="off"/>
    </div>
    <div class="form-item">
      <input type="password" placeholder="Password" name="password" id="password" class="form-style" />
    </div>
    <div class="form-item">
        <p class="pull-left"><a href="{{ url_for("register_get") }}"><small>Register</small></a></p>
        <input type="submit" class="login pull-right" value="Log In" >
        <div class="clear-fix"></div>
    </div>
    </form>
     <a href="{{ url_for('provider_login', provider='github') }}">
            <img src="{{ url_for('static', path='users/images/github.png') }}" alt="" width="15%" height="15%">
        </a>
    <a href="{{ url_for('provider_login', provider='google') }}">
            <img src="{{ url_for('static', path='users/images/google.png') }}" alt="" width="13%" height="13%">
        </a>
</div>
</div>


{% endblock %}
