.filters{
    background-color: #e9f1f5;
    padding: 20px;
}

td {
  border: 1px dotted #999;
}

tr {
  border: 1px dotted #999;
}


.sidebar-cell{
    margin-top: 20px;
}

.margin-top{
    margin-top: 30px;
}

.margin-bottom{
    margin-bottom: 30px;
}

.problem{
    background-color: #f6f6f6;
}

.delete-button{
    border-radius: 10px;
    background-color: red;
}

.solution{
    background-color: #747070;
    margin-bottom: 50px;
}


.button {
    margin:0 auto;
    display:block;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>input[type="radio"]:checked+label {
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  border: 1px solid #eee;
  padding: 10px 15px;
  border-radius: 4px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #eee;
  border: 1px solid transparent;
  padding: 2px 8px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin-right: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tabs>label:first-of-type {
  margin-left: 0;
}