{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Сайт для физико-математических вычислений</h1>
</div>


<div class="row">
    <div class="col-md-4" style="background-color: #ececec; padding: 20px; border-radius: 10px; margin-left: 5%">
        <h2>Науки и формулы</h2>
        <p>
           счет по формулам
        </p>
        <p><a class="btn btn-outline-primary text" href="{{ url_for('sciences_all')  }}">перейти &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: #ececec; padding: 20px; border-radius: 10px; margin-left: 5%">
        <h2>Задачи и решения</h2>
        <p>
           Помогайте другим разваваться и развивайтесь сами
        </p>
        <p><a class="btn btn-outline-primary text" href="{{ url_for('problems_all')  }}">перейти &raquo;</a></p>
    </div>
</div>

{% endblock %}

