{% extends 'layout.html' %}

 {% block content %}
          <link rel="stylesheet" href="{{ url_for('static', path='problems/css/problems.css') }}">
    <script src="{{ url_for('static', path='problems/js/problems.js') }}"></script>
     <div class="jumbotron">
         <h2>Creating problem</h2>
         <p class="lead">Solve science problems together.</p>
         <div class="row">
             <div class="col-2">
                 <a href="{{ url_for('problems_all') }}" class="btn btn-primary btn-large">back to problems &raquo;</a>
             </div>
             <div class="col-2">
-             </div>

         </div>

</div>

<div class="container">
<form method="post" enctype="multipart/form-data">
    <label for="title" class="white_text">Title</label>
    <input type="text" class="form-control" placeholder="Title" name="title" id="title">
    <label for="text" class="white_text margin-top" >Text</label>
    <textarea class="form-control" placeholder="Text" name="text" id="text"></textarea>
    <label for="science" class="white_text margin-top">Science</label>
    <div class="row">
        <select name="science" id="science">
        {% for s in sciences %}
        <option value="{{ s.id }}">{{ s.title }}</option>
        {% endfor %}
    </select>
    </div>

        <button type="button" class="btn btn-primary btn-large margin-top margin-bottom" onclick="addMedia(event)">+Add media</button>

        <div id="medias">
              <div class="row">
              <div class="col">
                  <input class="form-control" type="file" name="media1" placeholder="Choose media" id="input-media-1">
              </div>
              <div class="col">
                  <button type="button" class="delete-button" id="button-delete-1" onclick="deleteMedia(event)">Delete</button>
              </div>
           </div>
          </div>

            <div class="row">
                <button type="submit" class="btn btn-primary btn-large margin-top margin-bottom">Create</button>\
            </div>
</form>

</div>


{% endblock %}
