{% extends 'layout.html' %}

{% block content %}
     <div class="jumbotron">
        <h2>Личный кабинет - {{ user.username }}</h2>
        <p class="lead">Смотрите журнал вычислений и многое другое.</p>
        <a href="{{ url_for("homepage") }}" class="btn btn-primary btn-large">назад на главную &raquo;</a>
        {% if user.is_superuser or user.is_stuff %}
            <a href="/docs/" class="btn btn-primary btn-large">документация &raquo;</a>
        {% endif %}
    </div>

    <div class="container">
          <div class="content">
              <ul>
                  <h4><a class="white_text" href="{{ url_for('history') }}">История вычислений</a></h4>

                  {# <li><h4><a class="white_text" href="{{ url_for('history') }}">История вычислений</a></h4></li> #}
                  {# <li><h4><a class="white_text" href="{{ url_for('history') }}">Добавить формулу</a></h4></li> #}
                  {% if user.is_superuser or user.is_stuff  %}
                    {# <li><h4><a class="white_text" href="{{ url_for('history') }}">Предложенные формулы</a></h4></li> #}
                  {% endif %}
              </ul>
          </div>
    </div>
{% endblock %}
