{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
    <h2>Журнал вычислений</h2>
    <p class="lead">Скачать или удалить историю вычислений.</p>
    <a href="{{ url_for('cabinet') }}" class="btn btn-primary btn-large">назад к кабинету &raquo;</a>
</div>

<div class="container">
    <form method="post" action="{{ url_for('history_download') }}">
        <div class="row">
            <div class="col">
                <label class="white_text" for="filename-input">Название файла</label>
            </div>
            <div class="col">
                <label class="white_text" for="extension-input">Extension</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="white_text form-control" style="width: 30%" id='filename-input' type="text" name="filename" placeholder="Скачать как:">
            </div>
            <div class="col">
                <select class="white_text form-control" style="width: 30%" id='extension-input' name="extension">
                    <option value="csv">.csv</option>
                    <option value="xls">.xls</option>
                    <option value="xlsx">.xlsx</option>
                    <option value="odt">.odt</option>
                </select>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-large" style="background-color: dodgerblue" type="submit">Download</button>
        </div>
    </form>
{#    <form method="post" action="{{ url_for('history_delete') }}">#}
{#        <button class="btn-link" type="submit">Удалить историю</button>#}
{#    </form>#}
            {% for i in history %}
                <div class="u-layout-horizontal">
                    <h4 class="leqn white_text">{{ i.history_view()|safe }} </h4>

                </div>
            {% endfor %}
</div>
{% endblock %}