{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Раздел наук</h1>
</div>

<div class="row">
    {% for i in sciences %}
    <div class="col" style="background-color: dodgerblue; height: 100%; padding: 20px; border-radius: 10px; margin-left: 5%">
        {% if i.image_path %}
        <img src="{{ url_for('static', path="sciences/" + i.image_path) }}" width=30% height=60%>
        {% endif %}
        <h2>{{ i.title }}</h2>
        <p>
            {{ i.content|truncate(50) }}
        </p>
        <a class="btn btn-outline-primary text" href="{{ url_for('science_get', science_slug=i.slug)  }}">перейти &raquo;</a>
    </div>
    {% endfor %}

</div>

{% endblock %}
