{% extends 'layout.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', path='sciences/css/tabs.css') }}">
    <div class="jumbotron">
    <h2>{{ formula.title }}</h2>
    {% if message %}
        <h4 style="color: indianred">{{ message }}</h4>
    {% endif %}
    <p class="lead">{{ category.title }}</p>
    <a href="{{ url_for('category_get', category_slug=category.slug) }}" class="btn btn-primary btn-large">
        назад к  &raquo;
        {{ category.title }}
    </a>
</div>
<div class="tab" style="min-height: 400px;">
{{ tab_div|safe }}
</div>

<div class="container" style="min-height: 400px;">
{{ tab_content_div|safe }}


</div>
<div style="">
<p class="lead white_text">{{ formula.content }}</p>
</div>
{% endblock %}

{% block scripts %}
<script>
function openTab(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>
{% endblock %}
