.science-col{
  background-color: dodgerblue;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 5%;

}

.science-container {
  margin-bottom: 50px;
  padding: 10px;
  align-content: center;
}
.category-col{
   background: #dddddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5%;

}

.f_content{
    background-color: #b2b3b4;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.input{
  background: rosybrown;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
